.square{
    width: 100px;
    height: 100px;
    background-color: #4b495f;
    border-radius: 5px;
}

.square:hover{
    cursor: pointer;
}

.not-allowed{
    cursor: not-allowed !important;
}

.circle-won{
    background-color: rgb(248, 113, 136);
}

.cross-won{
    background-color: rgb(84, 156, 222);
}